<div class="article-wrapper">
  <div class="article-container">
    <h3 id="new-articles-list">記事一覧</h3>
      <%= paginate @contents %>
      <% @contents.each do |content| %>
        <div class="article-list">
          <div class="new-article">
            <%= link_to content.title, content_path(content.id) %></br>
            <%= content.from_date %> ~ <%= content.return_date %></br>
            <%= link_to content.user.nickname, user_path(content.user_id)%></br>
          </div>
          <div class="new-article-photo">
            <%= image_tag content.posts[0].images[0].variant(resize: '300x203').processed, class:"image-tag" %>
          </div>
        </div>
      <% end %>
      <%= paginate @contents %>
  </div>
</div>