<div>
  <%= form_with(model: @content, local: true) do |f| %>
    <%= f.label :title,"タイトル" %>
    <%= f.text_field :title, autofocus: true, autocomplete: "title" %></br>
    <%= f.label :from_date,"出発日"%>
    <%= f.date_field :from_date %></br>
    <%= f.label :return_date,"帰着日"%>
    <%= f.date_field :return_date %></br>
    <%= f.submit "変更" %>
  <% end %>
</div>

<%= link_to "戻る", content_path(@content.id) %>