<!-- index-main -->
<div class="index-main-wrapper">
  <div class="index-main-container">
    <h1>Travel Photo21</h1>
    <h2>旅の写真を公開しよう</h2>
    <%= link_to "新しい旅を投稿する",new_content_path ,class:"index-main-link"%>
  </div>  
</div>
<!-- 上部メニュー部分 -->
<div class="index-menu-bar">
  <div class="index-menu">
    <ul>
      <li><a href="#new-articles-list">最新記事</a></li>
      <li><a href="#">記事一覧</a></li>
      <li><a href="#">画像一覧</a></li>
      <li><a href="#">都道府県別一覧</a></li>
    </ul>
  </div>
</div>
<!-- index-bottom -->
<div class="index-bottom-wrapper">
  <div class="index-bottom">
    <h3 id="new-articles-list">最新記事</h3>
      <div class="article-list">
        <div class="new-article">
          <%= link_to @contents[0].title, content_path(@contents[0].id) %></br>
          <%= @contents[0].from_date %> ~ <%= @contents[0].return_date %></br>
          <%= link_to @contents[0].user.nickname, user_path(@contents[0].user_id)%></br>
        </div>
        <div class="new-article-photo">
          <%= image_tag @contents[0].posts[0].images[0].variant(resize: '300x203').processed, class:"image-tag" %>
        </div>
      </div>
      <div class="article-list">
        <div class="new-article">
          <%= link_to @contents[1].title, content_path(@contents[1].id) %></br>
          <%= @contents[1].from_date %> ~ <%= @contents[1].return_date %></br>
          <%= link_to @contents[1].user.nickname, user_path(@contents[1].user_id)%></br>
        </div>
        <div class="new-article-photo">
          <%= image_tag @contents[1].posts[0].images[0].variant(resize: '300x203').processed, class:"image-tag" %>
        </div>
      </div>
      <div class="article-list">
        <div class="new-article">
          <%= link_to @contents[2].title, content_path(@contents[2].id) %></br>
          <%= @contents[2].from_date %> ~ <%= @contents[2].return_date %></br>
          <%= link_to @contents[2].user.nickname, user_path(@contents[2].user_id)%></br>
        </div>
        <div class="new-article-photo">
          <%= image_tag @contents[2].posts[0].images[0].variant(resize: '300x203').processed, class:"image-tag" %>
        </div>
      </div>
  </div>
</div>
