<!-- index-main -->
<div class="index-wrapper">
  <div class="index-main-wrapper">
    <div class="index-main-container">
      <h1>Travel Photo21</h1>
      <h2>旅の写真を公開しよう</h2>
      <%= link_to "新しい旅を投稿する",new_content_path ,class:"index-main-link"%>
    </div>  
  </div>
  <!-- 上部メニュー部分 -->
  <div class="index-menu-bar">
    <div class="index-menu">
      <ul class="index-menu-lists">
        <li><a href="#new-articles-list">最新記事</a></li>
        <li><%= link_to "記事一覧", articles_contents_path %></li>
        <li><%= link_to "画像一覧", photos_contents_path %></li>
        <li><%= link_to "都道府県別一覧", root_path, id:"index-prefecture" %></li>
      </ul>
      <ul class="show-lists none" id="pull-down">
        <% @prefectures.each do |prefecture| %>
          <% if prefecture.present? && prefecture.posts.length != 0  %>
            <li><%= link_to "#{prefecture.name} (#{prefecture.posts.length})", prefecture_path(prefecture.id) %></li>
          <% else %>
            <li><%= prefecture.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- index-bottom -->
  <div class="index-bottom-wrapper">
    <div class="index-bottom">
      <h3 id="new-articles-list">最新記事</h3>
        <% @contents.each do |content| %>
          <div class="article-list">
            <div class="new-article">
              <%= link_to content.title, content_path(content.id) %></br>
              <div class="article-form"><%= content.from_date %> ~ <%= content.return_date %></div></br>
              <%= link_to content.user.nickname, user_path(content.user_id)%></br>
            </div>
            <div class="new-article-photo">
              <% if content.posts[0].images[0].present? %>
                <%= image_tag content.posts[0].images[0].variant(resize: '300x203').processed, class:"image-tag" %>
              <% else %>
                現在、表示できるアルバムはありません
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>