<div class="user-wrapper">
  <div class="user-container">
    <u><i class="far fa-user"></i> 登録情報を変更する </u>
    <div class="user-edit-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :"ニックネーム" %>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:"input-field" %>
        </div>

        <div class="field">
          <%= f.label :prefecture_id %>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name,{}, {class:"input-field"} %>
        </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-field" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :"新しいパスワード" %> (変更しない場合は入力しないでください)
          <%= f.password_field :password, autocomplete: "new-password", class:"input-field" %>
          <% if @minimum_password_length %>
            <br />
            <em><i class="fas fa-exclamation-circle"></i><%= @minimum_password_length %> 文字以上が必要です</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :"パスワードを再度入力ください" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input-field" %>
        </div>

        <div class="field">
          <%= f.label :"元のパスワード" %>　(パスワード変更を行うには、現在のパスワードが必要です)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" , class:"input-field"%>
        </div></br>

        <div class="sessions">
          <%= f.submit "変更する" ,class:"user-submit input-field"%>
        </div>
      <% end %>
      <div class="render">
      <h3>ユーザー登録を削除する</h3>

      <p> 削除はこちら<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p></br>

      <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>